# Regressao com 1 valor

Prever numeros

## Automoveis

In [131]:
import pandas as pd
import tensorflow as tf
import sklearn

In [133]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [135]:
base = pd.read_csv('autos.csv', encoding='ISO-8859-1')
base

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2016-03-14 17:48:27,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN,2016-03-14 00:00:00,0,39576,2016-04-06 00:46:52
371524,2016-03-05 19:56:21,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein,2016-03-05 00:00:00,0,26135,2016-03-11 18:17:12
371525,2016-03-19 18:57:12,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein,2016-03-19 00:00:00,0,87439,2016-04-07 07:15:26
371526,2016-03-20 19:41:08,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN,2016-03-20 00:00:00,0,40764,2016-03-24 12:45:21
371527,2016-03-07 19:39:19,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein,2016-03-07 00:00:00,0,73326,2016-03-22 03:17:10

Apagando colunas

In [137]:
base = base.drop('dateCrawled', axis=1)
base = base.drop('dateCreated', axis=1)
base = base.drop('nrOfPictures', axis=1)
base = base.drop('postalCode', axis=1)
base = base.drop('lastSeen', axis=1)
base

,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371523,Suche_t4___vito_ab_6_sitze,privat,Angebot,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,Smart_smart_leistungssteigerung_100ps,privat,Angebot,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,Volkswagen_Multivan_T4_TDI_7DC_UY2,privat,Angebot,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,VW_Golf_Kombi_1_9l_TDI,privat,Angebot,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,BMW_M135i_vollausgestattet_NP_52.720____Euro,privat,Angebot,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [138]:
base['name'].value_counts()

name
Ford_Fiesta                                              657
BMW_318i                                                 627
Opel_Corsa                                               622
Volkswagen_Golf_1.4                                      603
BMW_316i                                                 523
                                                        ...
Audi_A4_Avant_Klima_Gruene_Plakette_TÜV_&AU_NEU_XENON      1
Renault_clio_in_gold_450VB_!!                              1
Fiat_Doblo_1.6_Multijet                                    1
Renault_Laguna_1                                           1
BMW_M135i_vollausgestattet_NP_52.720____Euro               1
Name: count, Length: 233531, dtype: int64

In [139]:
base = base.drop('name', axis = 1)

In [140]:
base['seller'].value_counts()

seller
privat        371525
gewerblich         3
Name: count, dtype: int64

In [141]:
base = base.drop('seller', axis = 1)

In [142]:
base['offerType'].value_counts()

offerType
Angebot    371516
Gesuch         12
Name: count, dtype: int64

In [144]:
base = base.drop('offerType', axis = 1)

In [145]:
base

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

## Analise e Tratamento de Valores Inconsistentes:

In [155]:
base.loc[base['price'] <= 10] #localisar registros especificos no banco de dados

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
7,0,test,limousine,1980,manuell,50,andere,40000,7,benzin,volkswagen,nein
40,0,test,NaN,1990,NaN,0,corsa,150000,1,benzin,opel,NaN
60,1,control,suv,1994,manuell,286,NaN,150000,11,NaN,sonstige_autos,NaN
91,1,control,limousine,1995,manuell,113,e_klasse,150000,4,diesel,mercedes_benz,nein
115,0,test,NaN,2017,manuell,0,golf,5000,12,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371356,0,control,NaN,2000,manuell,65,corsa,150000,0,NaN,opel,ja
371392,0,test,kleinwagen,2002,manuell,60,fiesta,150000,3,benzin,ford,NaN
371402,0,control,kleinwagen,1999,manuell,53,swift,150000,3,benzin,suzuki,NaN
371431,0,control,kleinwagen,1999,manuell,37,arosa,150000,7,benzin,seat,ja
371522,0,control,NaN,2005,manuell,0,colt,150000,7,benzin,mitsubishi,ja

In [156]:
base['price'].mean()

17295.14186548524

In [158]:
base = base[base['price'] > 10]

In [160]:
base.shape

(359410, 12)

In [163]:
base.loc[base['price'] > 350000]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1846,579000,control,coupe,1980,manuell,277,andere,20000,12,benzin,bmw,nein
10649,420000,control,coupe,2004,manuell,483,911,50000,4,benzin,porsche,nein
14663,11111111,control,coupe,2003,manuell,64,polo,150000,2,benzin,volkswagen,NaN
16889,1000000,control,kombi,1998,NaN,0,mondeo,150000,0,benzin,ford,ja
20143,1250000,test,coupe,2016,manuell,500,911,5000,3,benzin,porsche,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
364171,3890000,test,coupe,2006,NaN,799,NaN,5000,7,NaN,sonstige_autos,nein
365461,599000,control,coupe,1980,manuell,377,andere,5000,3,benzin,bmw,nein
366653,99999999,control,cabrio,1996,manuell,192,3er,150000,0,NaN,bmw,NaN
366861,3895000,test,coupe,2006,NaN,799,NaN,5000,4,benzin,sonstige_autos,nein
367041,1600000,test,coupe,2005,NaN,625,NaN,10000,4,benzin,sonstige_autos,nein

In [165]:
base = base.loc[base['price'] < 350000]

In [167]:
base.shape

(359291, 12)

## Analise e Tratamento de Valores Faltantes

In [170]:
base.loc[pd.isnull(base['vehicleType'])] # encontrar valores nulos

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
22,2900,test,NaN,2018,manuell,90,meriva,150000,5,benzin,opel,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
31,899,control,NaN,2016,manuell,60,clio,150000,6,benzin,renault,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

Para atributos numéricos e comum utilizar a média.  
Para atributos categóricos e comum utilizar a moda.

In [173]:
base['vehicleType'].value_counts() # valor que mais se repete

vehicleType
limousine     93614
kleinwagen    78014
kombi         65921
bus           29699
cabrio        22509
coupe         18386
suv           14477
andere         3125
Name: count, dtype: int64

In [175]:
base['vehicleType'].mode() #outra forma de descobrir o valor que mais se repete atraves da moda

0    limousine
Name: vehicleType, dtype: object

In [177]:
base.loc[pd.isnull(base['gearbox'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
15,450,test,kleinwagen,1910,NaN,0,ka,5000,0,benzin,ford,NaN
16,300,test,NaN,2016,NaN,60,polo,150000,0,benzin,volkswagen,NaN
32,245,test,limousine,1994,NaN,0,golf,150000,2,benzin,volkswagen,nein
37,1500,test,NaN,2016,NaN,0,kangoo,150000,1,diesel,renault,nein
70,1200,test,coupe,2001,NaN,0,astra,150000,0,NaN,opel,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371443,3300,control,kombi,2006,NaN,0,touran,150000,7,diesel,volkswagen,NaN
371460,3500,control,NaN,1995,NaN,0,polo,150000,0,NaN,volkswagen,NaN
371486,350,control,kleinwagen,1996,NaN,65,punto,150000,0,NaN,fiat,NaN
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [179]:
base['gearbox'].value_counts()

gearbox
manuell      266547
automatik     75508
Name: count, dtype: int64

In [181]:
base.loc[pd.isnull(base['model'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
1,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja
83,350,control,kleinwagen,1997,manuell,54,NaN,150000,3,NaN,fiat,ja
139,1450,control,limousine,1992,manuell,136,NaN,150000,0,NaN,audi,nein
156,6799,control,kleinwagen,2009,NaN,60,NaN,20000,5,benzin,volkswagen,nein
165,500,control,kleinwagen,1999,manuell,0,NaN,150000,0,benzin,renault,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371399,560,control,kleinwagen,2001,automatik,170,NaN,90000,0,benzin,fiat,ja
371476,9400,control,kombi,2007,manuell,200,NaN,150000,4,diesel,sonstige_autos,ja
371495,180,control,NaN,1995,NaN,0,NaN,125000,3,benzin,opel,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [183]:
base['model'].value_counts()

model
golf               28989
andere             25560
3er                19905
polo               12604
corsa              12149
                   ...
serie_2                8
rangerover             6
serie_3                3
serie_1                1
discovery_sport        1
Name: count, Length: 251, dtype: int64

In [185]:
base.loc[pd.isnull(base['fuelType'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
13,2500,control,kombi,2004,manuell,131,passat,150000,2,NaN,volkswagen,nein
26,5555,control,NaN,2017,manuell,125,c4,125000,4,NaN,citroen,nein
36,1600,control,andere,1991,manuell,75,kadett,70000,0,NaN,opel,NaN
41,7500,control,limousine,2002,automatik,306,e_klasse,150000,4,NaN,mercedes_benz,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371496,3850,test,cabrio,2006,manuell,108,2_reihe,125000,2,NaN,peugeot,nein
371504,2600,control,NaN,2005,automatik,0,c_klasse,150000,9,NaN,mercedes_benz,NaN
371509,1900,test,NaN,2000,manuell,110,NaN,150000,7,NaN,volkswagen,nein
371519,5250,control,NaN,2016,automatik,150,159,150000,12,NaN,alfa_romeo,nein
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN

In [187]:
base['fuelType'].value_counts()

fuelType
benzin     217582
diesel     106002
lpg          5222
cng           557
hybrid        271
andere        165
elektro       101
Name: count, dtype: int64

In [189]:
base.loc[pd.isnull(base['notRepairedDamage'])]

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN
8,14500,control,bus,2014,manuell,125,c_max,30000,8,benzin,ford,NaN
9,999,test,kleinwagen,1998,manuell,101,golf,150000,0,NaN,volkswagen,NaN
12,999,control,kombi,1995,manuell,115,passat,150000,11,benzin,volkswagen,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371507,5999,test,kombi,2005,manuell,140,a4,150000,4,diesel,audi,NaN
371514,999,control,cabrio,2000,manuell,95,megane,150000,4,benzin,renault,NaN
371515,1690,test,kombi,2004,manuell,55,fabia,150000,4,benzin,skoda,NaN
371523,2200,test,NaN,2005,NaN,0,NaN,20000,1,NaN,sonstige_autos,NaN
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,NaN

In [191]:
base['notRepairedDamage'].value_counts()

notRepairedDamage
nein    259301
ja       34004
Name: count, dtype: int64

Corrigindo dados inconsistentes:

In [194]:
valores = {'vehicleType': 'limousine',
           'gearbox': 'manuell',
           'model': 'golf',
           'fuelType': 'benzin',
           'notRepairedDamage': 'nein'}

In [196]:
base = base.fillna(value = valores)

In [198]:
base

,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage
0,480,test,limousine,1993,manuell,0,golf,150000,0,benzin,volkswagen,nein
1,18300,test,coupe,2011,manuell,190,golf,125000,5,diesel,audi,ja
2,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,nein
3,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein
4,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein
...,...,...,...,...,...,...,...,...,...,...,...,...
371523,2200,test,limousine,2005,manuell,0,golf,20000,1,benzin,sonstige_autos,nein
371524,1199,test,cabrio,2000,automatik,101,fortwo,125000,3,benzin,smart,nein
371525,9200,test,bus,1996,manuell,102,transporter,150000,3,diesel,volkswagen,nein
371526,3400,test,kombi,2002,manuell,100,golf,150000,6,diesel,volkswagen,nein
371527,28990,control,limousine,2013,manuell,320,m_reihe,50000,8,benzin,bmw,nein

In [200]:
base.isnull().sum()

price                  0
abtest                 0
vehicleType            0
yearOfRegistration     0
gearbox                0
powerPS                0
model                  0
kilometer              0
monthOfRegistration    0
fuelType               0
brand                  0
notRepairedDamage      0
dtype: int64

In [202]:
base.columns

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='object')

In [204]:
X = base.iloc[:, 1:12].values #atributos previsores
X

array([['test', 'limousine', 1993, ..., 'benzin', 'volkswagen', 'nein'],
       ['test', 'coupe', 2011, ..., 'diesel', 'audi', 'ja'],
       ['test', 'suv', 2004, ..., 'diesel', 'jeep', 'nein'],
       ...,
       ['test', 'bus', 1996, ..., 'diesel', 'volkswagen', 'nein'],
       ['test', 'kombi', 2002, ..., 'diesel', 'volkswagen', 'nein'],
       ['control', 'limousine', 2013, ..., 'benzin', 'bmw', 'nein']],
      dtype=object)

In [205]:
y = base.iloc[:, 0].values
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990], dtype=int64)

## Tratamento nos atributos categóricos

In [209]:
base['brand'].value_counts()

brand
volkswagen        76755
bmw               38982
opel              38557
mercedes_benz     34498
audi              31884
ford              24761
renault           17367
peugeot           10777
fiat               9339
seat               6815
skoda              5572
mazda              5529
smart              5159
citroen            5038
nissan             4893
toyota             4616
hyundai            3585
mini               3354
sonstige_autos     3331
volvo              3229
mitsubishi         2956
honda              2726
kia                2494
suzuki             2274
alfa_romeo         2250
porsche            2154
chevrolet          1791
chrysler           1373
dacia               889
jeep                784
daihatsu            774
land_rover          759
subaru              746
jaguar              603
daewoo              530
saab                516
trabant             489
lancia              467
rover               462
lada                213
Name: count, dtype: int64

In [211]:
base.columns

Index(['price', 'abtest', 'vehicleType', 'yearOfRegistration', 'gearbox',
       'powerPS', 'model', 'kilometer', 'monthOfRegistration', 'fuelType',
       'brand', 'notRepairedDamage'],
      dtype='object')

In [213]:
onehotencoder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [0, 1, 3, 5, 8, 9, 10])], remainder='passthrough')

In [215]:
X = onehotencoder.fit_transform(X).toarray()
X

array([[0.00e+00, 1.00e+00, 0.00e+00, ..., 0.00e+00, 1.50e+05, 0.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.90e+02, 1.25e+05, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.63e+02, 1.25e+05, 8.00e+00],
       ...,
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.02e+02, 1.50e+05, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, ..., 1.00e+02, 1.50e+05, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, ..., 3.20e+02, 5.00e+04, 8.00e+00]])

In [217]:
base.shape

(359291, 12)

In [221]:
X.shape

(359291, 316)

## Estrutura da Rede Neural

In [226]:
regressor = Sequential([
    tf.keras.layers.InputLayer(shape = (316,)),
    tf.keras.layers.Dense(units = 158, activation = 'relu'),
    tf.keras.layers.Dense(units = 158, activation = 'relu'),
    tf.keras.layers.Dense(units = 1, activation = 'linear')
])

In [228]:
regressor.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 158)            │        50,086 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 158)            │        25,122 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │           159 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 75,367 (294.40 KB)

 Trainable params: 75,367 (294.40 KB)

 Non-trainable params: 0 (0.00 B)

In [232]:
regressor.compile(loss = 'mean_absolute_error', optimizer = 'adam', metrics = ['mean_absolute_error'])

In [234]:
regressor.fit(X, y, batch_size = 300, epochs = 100)

Epoch 1/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 6s 3ms/step - loss: 4186.6094 - mean_absolute_error: 4186.6094
Epoch 2/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 3329.1331 - mean_absolute_error: 3329.1331
Epoch 3/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2989.1233 - mean_absolute_error: 2989.1233
Epoch 4/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2853.9895 - mean_absolute_error: 2853.9893
Epoch 5/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2793.8420 - mean_absolute_error: 2793.8420
Epoch 6/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2751.4976 - mean_absolute_error: 2751.4976
Epoch 7/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2707.4346 - mean_absolute_error: 2707.4346
Epoch 8/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2663.2112 - mean_absolute_error: 2663.2112
Epoch 9/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2619.2705 - mean_absolute_error: 2619.2705
Epoch 10/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2552.5466 - mean_absolute_error: 2552.5466
Epoch 11/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2567.3486 - mean_absolute_error: 2567.3486
Epoch 12/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2525.8601 - mean_absolute_error: 2525.8601
Epoch 13/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2493.7749 - mean_absolute_error: 2493.7749
Epoch 14/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2469.6870 - mean_absolute_error: 2469.6870
Epoch 15/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2465.2256 - mean_absolute_error: 2465.2256
Epoch 16/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2432.1792 - mean_absolute_error: 2432.1792
Epoch 17/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2458.6211 - mean_absolute_error: 2458.6211
Epoch 18/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2423.6626 - mean_absolute_error: 2423.6626
Epoch 19/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2439.4023 - mean_absolute_error: 2439.4026
Epoch 20/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2391.2815 - mean_absolute_error: 2391.2815
Epoch 21/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2394.0686 - mean_absolute_error: 2394.0686
Epoch 22/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2396.5137 - mean_absolute_error: 2396.5137
Epoch 23/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2418.5093 - mean_absolute_error: 2418.5093
Epoch 24/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2396.8411 - mean_absolute_error: 2396.8411
Epoch 25/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2384.9185 - mean_absolute_error: 2384.9185
Epoch 26/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2367.3545 - mean_absolute_error: 2367.3545
Epoch 27/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2388.3059 - mean_absolute_error: 2388.3059
Epoch 28/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2347.2686 - mean_absolute_error: 2347.2686
Epoch 29/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2404.4597 - mean_absolute_error: 2404.4597
Epoch 30/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2350.0203 - mean_absolute_error: 2350.0203
Epoch 31/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2365.0393 - mean_absolute_error: 2365.0391
Epoch 32/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2354.1123 - mean_absolute_error: 2354.1123
Epoch 33/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2354.8018 - mean_absolute_error: 2354.8018
Epoch 34/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2342.3965 - mean_absolute_error: 2342.3965
Epoch 35/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2353.8655 - mean_absolute_error: 2353.8657
Epoch 36/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2374.3430 - mean_absolute_error: 2374.3430
Epoch 37/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2347.1860 - mean_absolute_error: 2347.1860
Epoch 38/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2357.2498 - mean_absolute_error: 2357.2498
Epoch 39/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2325.9387 - mean_absolute_error: 2325.9387
Epoch 40/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2351.5420 - mean_absolute_error: 2351.5422
Epoch 41/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2356.2483 - mean_absolute_error: 2356.2483
Epoch 42/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2315.9956 - mean_absolute_error: 2315.9956
Epoch 43/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2329.8267 - mean_absolute_error: 2329.8267
Epoch 44/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2328.5371 - mean_absolute_error: 2328.5369
Epoch 45/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2327.4270 - mean_absolute_error: 2327.4270
Epoch 46/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2339.6487 - mean_absolute_error: 2339.6487
Epoch 47/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2305.2441 - mean_absolute_error: 2305.2441
Epoch 48/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2304.0300 - mean_absolute_error: 2304.0300
Epoch 49/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2312.1685 - mean_absolute_error: 2312.1685
Epoch 50/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2299.2920 - mean_absolute_error: 2299.2920
Epoch 51/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2316.1677 - mean_absolute_error: 2316.1677
Epoch 52/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2302.1040 - mean_absolute_error: 2302.1040
Epoch 53/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2302.6011 - mean_absolute_error: 2302.6011
Epoch 54/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2307.8271 - mean_absolute_error: 2307.8271
Epoch 55/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2279.2368 - mean_absolute_error: 2279.2368
Epoch 56/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2302.0879 - mean_absolute_error: 2302.0879
Epoch 57/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2289.9849 - mean_absolute_error: 2289.9851
Epoch 58/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2299.8594 - mean_absolute_error: 2299.8594
Epoch 59/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2285.7793 - mean_absolute_error: 2285.7795
Epoch 60/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2288.4382 - mean_absolute_error: 2288.4382
Epoch 61/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2286.6135 - mean_absolute_error: 2286.6135
Epoch 62/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2292.8940 - mean_absolute_error: 2292.8940
Epoch 63/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2272.6799 - mean_absolute_error: 2272.6799
Epoch 64/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2280.2964 - mean_absolute_error: 2280.2964
Epoch 65/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2270.6318 - mean_absolute_error: 2270.6321
Epoch 66/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2288.7898 - mean_absolute_error: 2288.7898
Epoch 67/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2297.0955 - mean_absolute_error: 2297.0955
Epoch 68/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2271.6582 - mean_absolute_error: 2271.6582
Epoch 69/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2271.1262 - mean_absolute_error: 2271.1262
Epoch 70/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2272.9658 - mean_absolute_error: 2272.9658
Epoch 71/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2272.4783 - mean_absolute_error: 2272.4783
Epoch 72/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2275.4688 - mean_absolute_error: 2275.4688
Epoch 73/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2265.0291 - mean_absolute_error: 2265.0291
Epoch 74/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2291.3782 - mean_absolute_error: 2291.3782
Epoch 75/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2275.7974 - mean_absolute_error: 2275.7974
Epoch 76/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2263.7515 - mean_absolute_error: 2263.7515
Epoch 77/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2261.5469 - mean_absolute_error: 2261.5469
Epoch 78/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 2276.5559 - mean_absolute_error: 2276.5559
Epoch 79/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2243.3984 - mean_absolute_error: 2243.3984
Epoch 80/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2272.2864 - mean_absolute_error: 2272.2864
Epoch 81/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2255.2939 - mean_absolute_error: 2255.2939
Epoch 82/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2262.5496 - mean_absolute_error: 2262.5496
Epoch 83/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2253.0942 - mean_absolute_error: 2253.0942
Epoch 84/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2231.7268 - mean_absolute_error: 2231.7268
Epoch 85/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2273.1531 - mean_absolute_error: 2273.1531
Epoch 86/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2258.7996 - mean_absolute_error: 2258.7996
Epoch 87/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2248.7629 - mean_absolute_error: 2248.7629
Epoch 88/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2255.5100 - mean_absolute_error: 2255.5098
Epoch 89/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2248.6074 - mean_absolute_error: 2248.6074
Epoch 90/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2249.9927 - mean_absolute_error: 2249.9927
Epoch 91/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2250.6077 - mean_absolute_error: 2250.6077
Epoch 92/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2238.9055 - mean_absolute_error: 2238.9055
Epoch 93/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2248.8506 - mean_absolute_error: 2248.8503
Epoch 94/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2238.4216 - mean_absolute_error: 2238.4216
Epoch 95/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2255.5125 - mean_absolute_error: 2255.5125
Epoch 96/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2227.5583 - mean_absolute_error: 2227.5583
Epoch 97/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2230.2292 - mean_absolute_error: 2230.2292
Epoch 98/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2234.0576 - mean_absolute_error: 2234.0576
Epoch 99/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2215.5781 - mean_absolute_error: 2215.5781
Epoch 100/100
1198/1198 ━━━━━━━━━━━━━━━━━━━━ 3s 2ms/step - loss: 2245.9241 - mean_absolute_error: 2245.9241

In [236]:
X.shape

(359291, 316)

In [240]:
previsoes = regressor.predict(X)

11228/11228 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step

In [242]:
previsoes

array([[  822.5227],
       [ 9430.959 ],
       [11653.845 ],
       ...,
       [ 4791.041 ],
       [ 2293.6135],
       [26827.268 ]], dtype=float32)

In [244]:
y

array([  480, 18300,  9800, ...,  9200,  3400, 28990], dtype=int64)

In [246]:
y.mean()

5916.833945186492

In [248]:
previsoes.mean()

4828.699